streamlit==1.28.0
pandas==2.0.3
numpy==1.24.3
plotly==5.15.0
matplotlib==3.7.2
Pillow==10.0.1
requests==2.31.0
beautifulsoup4==4.12.2
rich<14,>=10.14.0
arabic_reshaper==3.0.0
python-bidi==0.4.2
reportlab==3.6.13
python-dotenv==1.0.0
streamlit-paypal-payment==1.0.2
weasyprint==60.1
